Random Experiment WPF/Connected Services/MemeQueenService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd0" />
      <xsd:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Meme_Queen_Server.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemeQueen_GetToken_InputMessage">
    <wsdl:part name="parameters" element="GetToken" />
  </wsdl:message>
  <wsdl:message name="IMemeQueen_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IMemeQueen_GetMemes_InputMessage">
    <wsdl:part name="parameters" element="GetMemes" />
  </wsdl:message>
  <wsdl:message name="IMemeQueen_GetMemes_OutputMessage">
    <wsdl:part name="parameters" element="GetMemesResponse" />
  </wsdl:message>
  <wsdl:message name="IMemeQueen_UploadMeme_InputMessage">
    <wsdl:part name="parameters" element="UploadMeme" />
  </wsdl:message>
  <wsdl:message name="IMemeQueen_UploadMeme_OutputMessage">
    <wsdl:part name="parameters" element="UploadMemeResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemeQueen">
    <wsdl:operation name="GetToken">
      <wsdl:input wsam:Action="urn:IMemeQueen/GetToken" message="IMemeQueen_GetToken_InputMessage" />
      <wsdl:output wsam:Action="urn:IMemeQueen/GetTokenResponse" message="IMemeQueen_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemes">
      <wsdl:input wsam:Action="urn:IMemeQueen/GetMemes" message="IMemeQueen_GetMemes_InputMessage" />
      <wsdl:output wsam:Action="urn:IMemeQueen/GetMemesResponse" message="IMemeQueen_GetMemes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadMeme">
      <wsdl:input wsam:Action="urn:IMemeQueen/UploadMeme" message="IMemeQueen_UploadMeme_InputMessage" />
      <wsdl:output wsam:Action="urn:IMemeQueen/UploadMemeResponse" message="IMemeQueen_UploadMeme_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>