Random Experiment WPF/Connected Services/MemeQueenService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Meme_Queen_Server.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Meme_Queen_Server.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="UploadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ext" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="myStream" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadData" nillable="true" type="tns:UploadData" />
</xs:schema>