Random Experiment WPF/Connected Services/MemeQueenService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://127.0.0.1:4040/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Meme_Queen_Server.WCF" />
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetMemesResult" nillable="true" type="q1:ArrayOfStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Meme_Queen_Server.WCF" minOccurs="0" name="data" nillable="true" type="q2:UploadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadMemeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>