Random Experiment WPF/Connected Services/RandomExperimentService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:3030/?xsd=xsd0" />
      <xsd:import schemaLocation="http://127.0.0.1:3030/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:3030/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Random_Experiment_Server.DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRandomServer_GetToken_InputMessage">
    <wsdl:part name="parameters" element="GetToken" />
  </wsdl:message>
  <wsdl:message name="IRandomServer_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomServer_SubmitStatus_InputMessage">
    <wsdl:part name="parameters" element="SubmitStatus" />
  </wsdl:message>
  <wsdl:message name="IRandomServer_SubmitStatus_OutputMessage">
    <wsdl:part name="parameters" element="SubmitStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IRandomServer">
    <wsdl:operation name="GetToken">
      <wsdl:input wsam:Action="urn:IRandomServer/GetToken" message="IRandomServer_GetToken_InputMessage" />
      <wsdl:output wsam:Action="urn:IRandomServer/GetTokenResponse" message="IRandomServer_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitStatus">
      <wsdl:input wsam:Action="urn:IRandomServer/SubmitStatus" message="IRandomServer_SubmitStatus_InputMessage" />
      <wsdl:output wsam:Action="urn:IRandomServer/SubmitStatusResponse" message="IRandomServer_SubmitStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>